/* 
body {
    font-family: Arial, sans-serif;
    background-color: #b0ad7d;
    color: #333;
}

.header {
    background-color: #551414;
    color: #fff;
    padding: 10px;
}



h1
    {
        background-color: rgb(195, 75, 195);
    }
h2, h3 {
    background-color: #87ceeb;
}

ul {
    list-style-type: square;
}


.movie-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8c1c1c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .movie-list h1 {
    color: #007bff;
    font-size: 28px;
  }
  
  .movie-items {
    list-style-type: none;
    padding: 0;
  }
  
  .movie-item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .movie-header {
    flex: 1;
  }
  
  .movie-header h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .release-date {
    color: #555;
  }
  
  .movie-details {
    flex: 1;
    text-align: right;
  }
  
  .available-seats {
    font-weight: bold;
    color: #007bff;
  }
  
  .btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary {
    background-color: #eee;
    color: #333;
  }
  
  .btn-secondary:hover {
    background-color: #ccc;
  }
  


.booking-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .booking-form h2 {
    color: #007bff;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
   */