{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'movie_booking/styles.css' %}">
</head>
<body>
    <header>
        <div class="user-info">
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}!</span>
                <a href="{% url 'profile' %}">My Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </div>
    </header>
    {% if messages %}
    <div class="messages">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
